<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<!-- <ul md-no-ink-bar="disableInkBar" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
  <li routerLink="create" routerLinkActive="active">
    Create
  </li>
  <li routerLink="categories" routerLinkActive="active">
    Page Two
  </li>
  <li>
    Page Three
  </li>
</ul> -->

<mat-toolbar class="bg-navbar">
  <span routerLink="index" routerLinkActive="active"><mat-icon>monetization_on</mat-icon></span>
  <span routerLink="categories" routerLinkActive="active"><mat-icon>category</mat-icon></span>
</mat-toolbar>

<router-outlet></router-outlet>